# Dependencies
node_modules/

# Build
dist/
src-tauri/target/
src-tauri/gen/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Claude Code
.claude
.agent_cache/
SKILL.md

# PDCA, AI Agents with Project Context
.pdca
.agent
.agents
.bkit-memory.json
.pdca-status.json
.pdca-snapshots/
.bkit
